.schedule-editor {
  &__data-info {
    &-container {
      margin-bottom: 50px;
      font-size: 1.1rem;
    }
    &-description {
      color: var(--lightGrayColor);
    }
  }
  &__add-content-button {
    width: 100%;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    height: 40px;
    max-height: 40px;
    &-icon {
      margin-top: -5px;
    }
  }
  &__delete-content-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .schedule-editor {
    &__info-group-data,
    &__delete-activity {
      width: 100%;
    }
    &__delete-activity {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .schedule-editor {
    &__delete-content-container {
      flex-direction: column;
    }
  }
}
