.root-main-page {
  &__container {
    margin: 50px auto;
  }
  &__section {
    margin: 20px 0;
  }
  &__paragraph {
    color: var(--lightGrayColor);
    margin: 10px 0;
    &.paragraph--without-margin {
      margin: 0;
    }
  }
  &__anchor-tag {
    text-decoration: underline;
    font-weight: 500;
  }
  &__separator {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    background-color: var(--extraLightGrayColor);
  }
  &__header {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
    color: var(--darkBlueColor);
    &::after {
      content: '.';
      font-size: 1.1em;
      color: var(--headerDotColor);
    }
  }
  &__branding {
    &-first-level-list {
      color: var(--lightGrayColor);
      margin-left: 20px;
      .first-level-list__element {
        margin: 15px 0;
      }
    }
    &-second-level-list {
      margin-left: 40px;
      li a {
        text-decoration: underline;
        color: var(--darkBlueColor);
      }
    }
  }
}
