<div class="app__safety-area-container root-main-page__container">
  <h1 class="root-main-page__header">System zarządzania planem</h1>
  <section class="root-main-page__section">
    <p class="root-main-page__paragraph paragraph--without-margin">
      Kod źródłowy warstwy klienta:
      <a
        href="https://github.com/milosz08/schedule-management-client"
        target="_blank"
        class="root-main-page__anchor-tag">
        Schedule Management Client
      </a>
    </p>
    <p class="root-main-page__paragraph paragraph--without-margin">
      Kod źródłowy warstwy serwera:
      <a
        href="https://github.com/milosz08/schedule-management-server"
        target="_blank"
        class="root-main-page__anchor-tag">
        Schedule Management Server
      </a>
    </p>
  </section>
  <aside class="root-main-page__separator"></aside>
  <section class="root-main-page__section">
    <h2 class="app__header">Informacje o projekcie</h2>
    <p class="root-main-page__paragraph">
      Projekt ma za zadanie symulować system zarządzania planem zajęć
      przykładowej wyższej uczelni technicznej. Aplikacja podzielona jest na
      klika głównych modułów z których można wyróżnić: moduł panelu
      administratora, moduł edytora planu oraz moduł publiczny. Aplikacja jest
      jedynie symulatorem. Wszyskie dane w aplikacji są przypadkowe i
      niepowiązanie z żadnymi osobami/organizacjami. Stworzona na potrzeby
      zaliczenia przedmiotu "Programowanie Obiektowe" odbywanym na IV semestrze
      studiów stacjonarnych "Informatyka" na Politechnice Śląskiej.
    </p>
  </section>
  <aside class="root-main-page__separator"></aside>
  <section class="root-main-page__section">
    <h2 class="app__header">Zastosowane technologie</h2>
    <ul class="root-main-page__branding-first-level-list">
      <li class="first-level-list__element">
        Warstwa klienta (front-end):
        <ul class="root-main-page__branding-second-level-list">
          <li>
            <a href="https://angular.io/" target="_blank">Angular Framework</a>
          </li>
          <li>
            <a href="https://www.typescriptlang.org/" target="_blank">
              Typescript
            </a>
          </li>
          <li>
            <a href="https://rxjs.dev/" target="_blank">
              RXJS (Reactive JavaScript)
            </a>
          </li>
        </ul>
      </li>
      <li class="first-level-list__element">
        Warstwa serwera (back-end):
        <ul class="root-main-page__branding-second-level-list">
          <li>
            <a
              href="https://dotnet.microsoft.com/en-us/apps/aspnet"
              target="_blank">
              C# ASP.NET WebAPI
            </a>
          </li>
          <li>
            <a href="https://docs.microsoft.com/pl-pl/ef/" target="_blank">
              Entity Framework
            </a>
          </li>
          <li><a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
          <li>
            <a href="https://github.com/sshnet/SSH.NET" target="_blank">
              SSH.NET
            </a>
          </li>
        </ul>
      </li>
      <li class="first-level-list__element">
        Pozostałe usługi i technologie:
        <ul class="root-main-page__branding-second-level-list">
          <li>
            <a href="https://jwt.io/" target="_blank">JWT (JSON Web Token)</a>
          </li>
          <li>
            <a href="https://min.io/" target="_blank">Minio (magazyn S3)</a>
          </li>
          <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <aside class="root-main-page__separator"></aside>
  <section class="root-main-page__section">
    <h2 class="app__header">Konta w systemie</h2>
    <p class="root-main-page__paragraph">
      Administrator systemu ma możliwość generowania kont, przy którym następuje
      dynamicznie generowana skrzynka pocztowa (przy użyciu protokołu SSH oraz
      serwera Nginx z zainstalowanym serwerem poczty SMTP/IMAP). Moderator może
      natomiast edytować plany na podstawie przypisania przez administratora do
      konkretnego wydziału. Nauczyciele i studenci mają możliwość wysyłania
      spersonalizowanych lub anonimowych wiadomości wspomagających układanie
      planów.
    </p>
    <p class="root-main-page__paragraph">
      Po pierwszym zalogowaniu system umożliwia zmianę hasła z domyślnego
      (wygenerowanego przez serwer) na własne, spełniające dane kryteria.
    </p>
    <p class="root-main-page__paragraph">
      Obecna jest również strona umożliwiająca zresetowanie hasła przez
      użytkownika. Odbywa się to poprzez podanie adresu email oraz wysłanie na
      niego przez serwer tokenu (tzw. tokenu krótkiego życia) którego ważność
      jest równa 10 minut i można go użyć tylko raz.
    </p>
    <p class="root-main-page__paragraph">
      Na stronie logowania znajdują się konta z których ostatni raz logowano się
      do aplikacji. Po kliknięciu w ikonę konta, aplikacja automatycznie
      wprowadzi adres email. Konta przechowywane są przy pomocy mechanizmu Local
      Storage. Każdy użytkownik może usunąć konta/konto z historii.
    </p>
    <p class="root-main-page__paragraph">
      Dodatkowo po udanym zalogowaniu obecny jest sekwencer odliczający czas
      aktywnej sesji użytkownika (na podstawie danych otrzymanych z serwera).
      Każda zmiana dokonana na stronie resetuje timer. Jeśli przez N czasu nie
      będzie żadnej aktywności na stronie, aplikacja uruchomi 30 sekundowe
      odliczanie dające możliwość odnowienia czasu sesji lub wylogowania. W
      przypadku braku reakcji, po czasie 30 sekund następuje automatyczne
      wylogowanie z systemu.
    </p>
  </section>
  <aside class="root-main-page__separator"></aside>
  <section class="root-main-page__section">
    <h2 class="app__header">Nawigacja planu zajęć</h2>
    <p class="root-main-page__paragraph">
      Na stronie planu zajęć możliwa jest nawigacja na podstawie tygodni
      (domyślnie wyświetlany jest aktualny tydzień). Możliwe jest również
      nawigowanie po roku akademickim, wówczas nowe wartości tygodni zostaną
      wygenerowane i pobrane z serwera. Po otwarciu planu (jeśli obsługa local
      storage jest uruchomina) zostanie zapisany on w zakładce. Dzięki temu po
      ponownym wejściu na stronę nie trzeba szukać w TreeView, tylko wystarczy
      kliknąć w zakładkę z planem zapisanej grupy.
    </p>
  </section>
  <aside class="root-main-page__separator"></aside>
  <section class="root-main-page__section">
    <h2 class="app__header">System zarządzania treścią</h2>
    <p class="root-main-page__paragraph">
      Po udanym zalogowaniu do systemu zarządzania treścią (CMS) w zależności od
      roli przypisanej do konta można dodawać lub usuwać elementy. Administrator
      może dodawać wydziały, katedry, przedmioty, kierunki, sale zajęciowe oraz
      zarządzać wszystkimi wiadomościami użytkowników. Dzięki zapisaniu w
      systemie wszystkich elementów i zastosowania relacji w bazie danych, w
      trakcie układania planu nie trzeba wpisywać przedmiotów jako nowe pola
      tekstowe, tylko wystarczy wybrać z listy już utworzonych.
    </p>
  </section>
</div>
