<app-table-data-header header="Wybór planu zajęć">
  W tej sekcji jako administrator możesz wybrać konkretną grupę do edycji planu
  z wybranego wydziału. Dla rangi "edytor" występuje możliwość wyboru jedynie
  kierunku - wydział jest odgórnie przypisany przez system.
</app-table-data-header>
<div class="schedule-select__container">
  <div class="schedule-select__wrapper">
    @if ((userRole$ | async) === 'administrator') {
    <app-admin-schedule-chooser />
    } @else {
    <div class="schedule-select__editor-container">
      <p class="schedule-select__editor-description">
        Jesteś przypisany/przypisana do jednostki:
      </p>
      <p class="schedule-select__editor-department-name">
        {{ loggedUserDepartment$ | async }}
      </p>
    </div>
    <app-editor-schedule-chooser />
    }
  </div>
  <app-last-opened-schedules />
</div>
