.schedule-select {
  &__container {
    flex-grow: 1;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 100px 0 50px;
    align-items: center;
    width: 100%;
  }
  &__loading-container {
    margin-top: 40px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  &__editor {
    &-container {
      margin-bottom: 30px;
      font-size: 1.1rem;
    }
    &-description {
      color: var(--lightGrayColor);
    }
    &-department-name {
      font-size: 1.2rem;
      margin-top: 3px;
      color: var(--darkBlueColor);
    }
  }
}

@media only screen and (max-width: 500px) {
  .choose-schedule__container {
    margin-top: 20px;
  }
}
