@if (formGroup) {
<label [for]="labelId + '-form___department'" class="app-cms__grid-label">
  Wydział:
</label>
<div>
  <app-select-drop-box-template
    [formGroup]="formGroup"
    [optionsList]="departments"
    (emitNewQuery)="handleEmitDepartmentName($event)"
    (addedValue)="cathedralsVisibility = true"
    formControlId="departmentName"
    selectId="cathedral-and-department___department"
    placeholder="np. Elektryczny"
    errorField="prawidłowy wydział" />
</div>
@if (cathedralsVisibility) {
<label [for]="labelId + '-form___cathedral'" class="app-cms__grid-label">
  Katedra:
</label>
<div>
  <app-select-drop-box-template
    [formGroup]="formGroup"
    [optionsList]="cathedrals"
    (emitNewQuery)="handleEmitCathedralName($event)"
    (addedValue)="emitNextSelection.emit()"
    formControlId="cathedralName"
    selectId="cathedral-and-department___cathedral"
    placeholder="np. Metrologii, Elektroniki i Automatyki"
    errorField="prawidłową katedrę" />
</div>
} }
