.last-logins {
  &__no-content {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    &-text {
      color: var(--lightGrayColor);
    }
  }
  &__list-container {
    display: grid;
    margin: 30px 0;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-column-gap: 10px;
    grid-gap: 40px;
    list-style-type: none;
  }
  &__list-element {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    height: 170px;
    border: 1px solid var(--extraLightGrayColor);
    border-radius: var(--borderRadius);
    transition: var(--transitionDuration);
    &:hover {
      box-shadow: var(--modalsBoxShadow);
    }
  }
  &__button-element {
    text-transform: uppercase;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: var(--extraLightGrayColor);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--darkBlueColor);
    font-weight: 500;
  }
  &__remove-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    color: var(--mainWhiteColor);
    background-color: var(--darkBlueColor);
  }
  &__delete-container {
    display: flex;
    justify-content: flex-end;
  }
}
