<form
  [formGroup]="newPasswordForm"
  (ngSubmit)="handleSubmitChangePassword()"
  class="new-password-form__main-container">
  <div class="new-password-form__element-container">
    <app-text-input-password
      [formGroup]="newPasswordForm"
      inputPlaceholder="Wygenerowane hasło"
      formControlId="oldPassword" />
    @if (checkIsFieldHasErrors('oldPassword')) {
    <div class="app__input-error app__input-error--light">
      Proszę wpisać hasło wygenerowane przez system
    </div>
    }
  </div>
  <div class="new-password-form__element-container">
    <app-text-input-password
      [formGroup]="newPasswordForm"
      inputPlaceholder="Nowe hasło"
      formControlId="newPassword" />
    @if (isPasswordFieldHasErrors()) {
    <div class="app__input-error app__input-error--light">
      Hasło musi zawierać przynajmniej 8 znaków, jedną wielką literę, jedną
      cyfrę i jeden znak specjalny.
    </div>
    }
  </div>
  <div class="new-password-form__element-container">
    <app-text-input-password
      [formGroup]="newPasswordForm"
      inputPlaceholder="Powtórz nowe hasło"
      formControlId="newPasswordConfirmed" />
    @if (newPasswordForm.errors?.['passwordMismatch']) {
    <div class="app__input-error app__input-error--light">
      Hasła muszą być takie same
    </div>
    }
  </div>
  <div class="new-password-form__submit-container">
    <button
      [disabled]="!newPasswordForm.valid || (isLoading$ | async)"
      type="submit"
      class="app__button app__button--light app__button--full-size-window"
      title="Kliknij aby zmienić domyślne hasło">
      Zmień hasło @if (isLoading$ | async) {
      <img
        src="assets/gif/suspense-loading-light.gif"
        alt=""
        class="app__button--loading-content-spinner" />
      } @else {
      <ng-icon name="matArrowRightAlt" class="app__button__arrow" />
      }
    </button>
  </div>
</form>
