<app-add-edit-section-header
  header="Dodawanie nowej grupy"
  returnUrl="/secure/admin/study-groups"
  returnText="Powróć do listy grup">
  <ng-container addDescription>
    W tej sekcji możesz dodać nową grupę dziekańską. Na grupę składa się
    przypisanie do wydziału oraz wybranego kierunku na wybranym semestrze.
    Możesz również stworzyć więcej grup dziekańskich (jednak fizycznie nie będą
    one wzajemnie połączone). Każda grupa posiada wygenerowany alias na który
    składa się alias nazwy grupy, wydziału, kierunku oraz semestru.
  </ng-container>
  <ng-template #info>
    W przypadku istnienia już jakiś grup które spełniają podane kryteria,
    zostaną dołożone nowe, począwszy od numeru o jeden większego od ostatniej
    istniejącej grupy w podanych kryteriach.
  </ng-template>
</app-add-edit-section-header>
<app-add-edit-column-wrapper
  formHeader="Dodaj grupę"
  resultHeader="Informacje o grupie">
  <ng-container form>
    <form
      [formGroup]="addStudyGroupForm"
      (ngSubmit)="handleSubmitAddStudyGroup()"
      class="app-cms__grid-form app-cms__add-new-content-form-container">
      <app-dept-with-study-spec
        [formGroup]="addStudyGroupForm"
        labelId="study-group"
        class="display-only-content" />
      <label for="add-study-group-form___semester" class="app-cms__grid-label">
        Semestry:
      </label>
      <app-combo-box-template
        id="add-study-group-form___semester"
        [formGroup]="addStudyGroupForm"
        [allOptions]="semesters"
        formControlId="semesters"
        placeholder="semestry" />
      <label
        for="add-study-group-form___count-of-groups"
        class="app-cms__grid-label">
        Ilość grup:
      </label>
      <div>
        <input
          type="text"
          pattern="^(0|[1-9][0-9]*)$"
          min="0"
          id="add-study-group-form___count-of-groups"
          formControlName="countOfGroups"
          placeholder="np. 2"
          class="app__input app__input--light app__input--exclude-margin" />
        @if (checkIsFieldHasErrors("countOfGroups")) {
        <div
          class="app__input-error app__input-error--light app__input-error--margin-top">
          Proszę wpisać poprawną ilość grup
        </div>
        }
      </div>
      <div></div>
      <div class="app-cms__grid-submit-button">
        <button
          [disabled]="!addStudyGroupForm.valid || (isLoading$ | async)"
          type="submit"
          class="app__button app__button--full-width app__button--light">
          Dodaj nową grupę @if (isLoading$ | async) {
          <img
            src="assets/gif/suspense-loading-light.gif"
            alt=""
            class="app__button--loading-content-spinner" />
          } @else {
          <ng-icon name="matArrowRightAlt" class="app__button__arrow" />
          }
        </button>
      </div>
    </form>
  </ng-container>
  <ng-container result>
    @if (addStudyGroupsRes.length > 0) {
    <div
      class="app-cms__description-block-container app-cms__description-block-container--warning-info">
      Uwaga! Informacje po odświeżeniu strony, bądź przejścia pod inny adres
      zostaną usunięte z podglądu.
    </div>
    @for (studyGroupRes of addStudyGroupsRes; track studyGroupRes.name) {
    <div class="app-cms__grid-form app-cms__add-new-content-info-container">
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Nazwa grupy:
      </div>
      <div class="app-cms__grid-text">{{ studyGroupRes.name }}</div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Nazwa wydziału:
      </div>
      <div class="app-cms__grid-text">
        {{ studyGroupRes.departmentFullName }}
      </div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Nazwa kierunku:
      </div>
      <div class="app-cms__grid-text">
        {{ studyGroupRes.studySpecFullName }}
      </div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Semestr:
      </div>
      <div class="app-cms__grid-text">{{ studyGroupRes.semesterName }}</div>
    </div>
    } } @else { @if (isLoading$ | async) {
    <div class="app-cms__add-new-content-suspense-loading-container">
      <img src="assets/gif/suspense-loading-dark.gif" alt="" />
    </div>
    } @else {
    <div class="app-cms__description-block-container">
      Po dodaniu nowej grupy dziekańskiej w tym oknie zostaną wyświetlone
      informacje o dodanej grupie (nazwa oraz alias) oraz inne powiązanie z nią
      informacje (wydział, kierunek itp.) Informacje te zostaną utracone po
      przeładowaniu strony.
    </div>
    } }
  </ng-container>
</app-add-edit-column-wrapper>
