<section class="app__safety-area-container">
  <h2 class="app-cms__header-h2 header--margin-from-bottom">
    <ng-container>Wyszukiwanie planu zajęć</ng-container>
  </h2>
  <aside class="app-cms__separator-line"></aside>
  <div
    class="app-cms__description-block__container description-block-container__disabled-max-width">
    W tej zakładce masz możliwość wyszukania planów grup/pracowników/sal
    zajęciowych. Wyniki można filtrować poprzez odznaczenie lub zaznaczenie
    kontrolek poniżej pola wyszukiwania. Po kliknięciu w wyszukany element,
    zostaniesz przeniesiony do strony z wybranym planem grupy, pracownika bądź
    sali zajęciowej.
  </div>
  <form [formGroup]="searchParamsForm" class="search-param__form-container">
    <label
      for="search-query-base-params___search-box"
      class="search-param__query-input-label-container">
      <input
        type="text"
        id="search-query-base-params___search-box"
        formControlName="searchQuery"
        placeholder="np. Informatyka"
        class="search-param__query-input-element" />
      <div class="search-param__pseudo-button">
        <span class="search-text-content">Szukaj</span>
        <ng-icon
          name="matSearch"
          class="search-param__pseudo-button-seach-icon" />
      </div>
    </label>
    <div class="search-query-form__checkboxes-container">
      <app-checkbox-template
        [isWhiteBackground]="true"
        [isCheckedInitial]="true"
        (checkedEmitter)='handleCheckedCheckboxParamsQuery($event, "isGroupsActive")'
        checkboxLabel="Szukaj grup dziekańskich" />
      <app-checkbox-template
        [isWhiteBackground]="true"
        [isCheckedInitial]="true"
        (checkedEmitter)='handleCheckedCheckboxParamsQuery($event, "isTeachersActive")'
        checkboxLabel="Szukaj pracowników"
        class="search-param__center-checkbox-element" />
      <app-checkbox-template
        [isWhiteBackground]="true"
        [isCheckedInitial]="true"
        (checkedEmitter)='handleCheckedCheckboxParamsQuery($event, "isRoomsActive")'
        checkboxLabel="Szukaj sal zajęciowych" />
    </div>
  </form>
  @if (isFetching$ | async) {
  <aside class="search-page__loading-data-container">
    <img src="assets/gif/suspense-loading-dark.gif" alt="" />
  </aside>
  } @else {
  <ul class="non-style-list search-page__loaded-elements__container">
    @for (foundElement of foundElements; track foundElement.fullName) {
    <li>
      <a
        [routerLink]='[ "/schedule/selected-schedule/" + foundElement.pathParam ]'
        [queryParams]="foundElement.pathQueryParams"
        title="Przejdź do wybranego elemenu w planie zajęć"
        class="search-page__single-element">
        <p>Typ: <strong>{{ foundElement.typeName }}</strong></p>
        <p>Pełna nazwa: <strong>{{ foundElement.fullName }}</strong></p>
        <p>Wydział: <strong>{{ foundElement.departmentName }}</strong></p>
        <div class="search-page__single-element__move-to-arrow__container">
          <ng-icon
            name="matArrowRightAlt"
            class="search-page__single-element__move-to-arrow__arrow" />
        </div>
      </a>
    </li>
    }
  </ul>
  }
</section>
