<div class="app-cms__top-description-container">
  <h2 class="app-cms__header-h2">{{ header }}</h2>
  <div class="app-cms__description-block-container">
    <ng-content />
  </div>
  <aside class="app-cms__separator-line"></aside>
</div>
@if (inputPlaceholder) {
<header class="app-cms__top-header">
  <app-search-form-input
    [inputPlaceholder]="inputPlaceholder"
    class="cms-search-input--max-size" />
  @if (addContentUrl && addContentText) {
  <a
    [routerLink]="addContentUrl"
    class="app__button app-cms__button--max-size app__button--light app__button--full-size-window">
    <ng-icon name="matPlus" class="app__button__text" />
    {{ addContentText }}
  </a>
  }
</header>
}
