<app-add-edit-section-header
  [header]="(currentMode | isCreationMode) ? 'Dodawanie nowego użytkownika' : 'Edycja użytkownika'"
  [currentMode]="currentMode"
  returnUrl="/secure/admin/users"
  returnText="Powrót do listy użytkowników">
  <ng-container addDescription>
    W tej sekcji możesz dodać nowego użytkownika do systemu. Początkowe dane
    jakie należy wprowadzić to imię, nazwisko, miejsce zamieszkania oraz kraj
    pochodzenia. W rezultacie serwer wygeneruje login, początkowe hasło oraz
    dostęp do poczty. Potwierdzenie zostanie wysłane na Twój adres email. Dane
    uwierzytelniające do systemu zostaną wysłane użytkownikowi na stworzoną
    skrzynkę pocztową. Twoim zadaniem po stworzeniu użytkownika jest przekazać
    mu dane logowania do poczty (dane te są również dostępne w sekcji
    dodatkowych informacji).
  </ng-container>
  <ng-container editDescription>
    W tej sekcji możesz edytować część informacji o wybranym użytkowniku
    systemu.
  </ng-container>
  @if (currentMode | isEditMode) {
  <ng-template #warning>
    Część informacji nie podlega edycji. W przypadku chęci zmiany parametrów
    które nie podlegają edycji, należy usunąć użytkownika i stworzyć nowego.
    Zalecamy korzystanie z tej funkcjonalności rozważnie, ponieważ może dojść do
    utraty głębiej położonych zasobów w systemie.
  </ng-template>
  }
</app-add-edit-section-header>
<app-add-edit-column-wrapper
  [formHeader]="(currentMode | isCreationMode) ? 'Dodaj użytkownika' : 'Edytuj użytkownika'"
  resultHeader="Informacje o użytkowniku">
  <ng-container form>
    <form
      [formGroup]="addEditUserForm"
      (ngSubmit)="handleSubmitAddEditUser()"
      class="app-cms__grid-form app-cms__add-new-content-form-container">
      <label for="add-user-form___name" class="app-cms__grid-label">
        Imię:
      </label>
      <div>
        <input
          type="text"
          id="add-user-form___name"
          formControlName="name"
          placeholder="np. Jan"
          class="app__input app__input--light app__input--exclude-margin" />
        @if (checkIsFieldHasErrors("name")) {
        <div
          class="app__input-error app__input-error--light app__input-error--margin-top">
          Proszę wpisać imię
        </div>
        }
      </div>
      <label for="add-user-form___surname" class="app-cms__grid-label">
        Nazwisko:
      </label>
      <div>
        <input
          type="text"
          id="add-user-form___surname"
          formControlName="surname"
          placeholder="np. Kowalski"
          class="app__input app__input--light app__input--exclude-margin" />
        @if (checkIsFieldHasErrors("surname")) {
        <div
          class="app__input-error app__input-error--light app__input-error--margin-top">
          Proszę wpisać imię
        </div>
        }
      </div>
      <label for="add-user-form___city" class="app-cms__grid-label">
        Miejscowość:
      </label>
      <div>
        <input
          type="text"
          id="add-user-form___city"
          formControlName="city"
          placeholder="np. Gliwice"
          class="app__input app__input--light app__input--exclude-margin" />
        @if (checkIsFieldHasErrors("city")) {
        <div
          class="app__input-error app__input-error--light app__input-error--margin-top">
          Proszę wpisać miasto zamieszkania
        </div>
        }
      </div>
      <label for="add-user-form___nationality" class="app-cms__grid-label">
        Narodowość:
      </label>
      <div>
        <input
          type="text"
          id="add-user-form___nationality"
          formControlName="nationality"
          placeholder="np. Polska"
          class="app__input app__input--light app__input--exclude-margin" />
        @if (checkIsFieldHasErrors("nationality")) {
        <div
          class="app__input-error app__input-error--light app__input-error--margin-top">
          Proszę wpisać narodowość
        </div>
        }
      </div>
      <label for="add-user-form___role" class="app-cms__grid-label">
        Rola w systemie:
      </label>
      <div>
        <app-select-list-template
          [formGroup]="addEditUserForm"
          [listElements]="roles"
          formControlId="role"
          inputId="add-user-form___role"
          placeholder="np. Nauczyciel"
          errorField="prawidłowy typ roli" />
      </div>
      @if (getFormValue("role")) { @if (currentRole !== 'student') {
      <app-dept-with-cath
        [currentMode]="currentMode"
        [formGroup]="addEditUserForm"
        (emitNextSelection)="handleEmitStudySubjects()"
        class="app__show-only-content" />
      } @else if (currentRole === 'student') {
      <label for="add-user___department" class="app-cms__grid-label">
        Wydział:
      </label>
      <app-select-drop-box-template
        [formGroup]="addEditUserForm"
        [optionsList]="departments"
        (emitNewQuery)="handleEmitDepartmentName($event)"
        (addedValue)="handleEmitStudySpecializations()"
        formControlId="departmentName"
        selectId="add-user___department"
        placeholder="np. Elektryczny"
        errorField="prawidłowy wydział" />
      @if (studySpecsVisibility) {
      <label for="add-user-form___study-specs" class="app-cms__grid-label">
        Kierunki studiów:
      </label>
      <app-combo-box-template
        [formGroup]="addEditUserForm"
        [allOptions]="studySpecs"
        formControlId="studySpecsOrSubjects"
        placeholder="kierunki studiów" />
      } } @if ((currentRole === 'edytor' || currentRole === 'nauczyciel') &&
      studySubjectsVisibility) {
      <label for="add-user-form___subjects" class="app-cms__grid-label">
        Przedmioty:
      </label>
      <app-combo-box-template
        [formGroup]="addEditUserForm"
        [allOptions]="subjects"
        formControlId="studySpecsOrSubjects"
        placeholder="przedmioty" />
      } } @if (currentMode | isEditMode) {
      <div></div>
      <app-checkbox-template
        checkboxLabel="Generuj nowe hasło do skrzynki pocztowej"
        [isWhiteBackground]="true"
        (checkedEmitter)="regeneratePassword = !regeneratePassword" />
      }
      <div></div>
      <div class="app-cms__grid-submit-button">
        <button
          [disabled]="!addEditUserForm.valid || (isLoading$ | async)"
          type="submit"
          class="app__button app__button--full-width app__button--light">
          {{ (currentMode | isEditMode) ? 'Edytuj wybranego' : 'Dodaj nowego' }}
          użytkownika @if (isLoading$ | async) {
          <img
            src="assets/gif/suspense-loading-light.gif"
            alt=""
            class="app__button--loading-content-spinner" />
          } @else {
          <ng-icon name="matArrowRightAlt" class="app__button__arrow" />
          }
        </button>
      </div>
    </form>
  </ng-container>
  <ng-container result>
    @if (addEditUserRes) {
    <div
      class="app-cms__description-block-container app-cms__description-block-container--warning-info">
      Uwaga! Informacje po odświeżeniu strony, bądź przejścia pod inny adres
      zostaną usunięte z podglądu. Zaleca się zapisanie ich do pliku tekstowego.
    </div>
    <div class="app-cms__grid-form app-cms__add-new-content-info-container">
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Imię i nazwisko:
      </div>
      <div class="app-cms__grid-text">
        {{ addEditUserRes.name }} {{ addEditUserRes.surname }}
      </div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Miejscowość zamieszkania:
      </div>
      <div class="app-cms__grid-text">{{ addEditUserRes.city }}</div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Narodowość:
      </div>
      <div class="app-cms__grid-text">{{ addEditUserRes.nationality }}</div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Rola użytkownika:
      </div>
      <div class="app-cms__grid-text app-cms__grid-text--capitalized">
        {{ addEditUserRes.role }}
      </div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Adres email:
      </div>
      <div class="app-cms__grid-text">{{ addEditUserRes.email }}</div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Hasło do adresu email:
      </div>
      <div class="app-cms__grid-text">{{ addEditUserRes.emailPassword }}</div>
      @if (addEditUserRes.departmentData && addEditUserRes.cathedralData) {
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Przypisany do wydziału:
      </div>
      <div class="app-cms__grid-text">{{ addEditUserRes.departmentData }}</div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Przypisany do katedry:
      </div>
      <div class="app-cms__grid-text">{{ addEditUserRes.cathedralData }}</div>
      }
    </div>
    <div class="app-cms__add-new-content-save-to-file-container">
      <button
        (click)="handleSaveUserToFile()"
        class="app__button app__button--hollow-light app__button--full-size-window"
        title="Kliknij aby zapisać dane do pliku .txt">
        Zapisz do pliku .txt
        <ng-icon name="matArrowRightAlt" class="app__button__arrow" />
      </button>
    </div>
    } @else { @if (isLoading$ | async) {
    <div class="app-cms__add-new-content-suspense-loading-container">
      <img src="assets/gif/suspense-loading-dark.gif" alt="" />
    </div>
    } @else {
    <div class="app-cms__description-block-container">
      Po {{ (currentMode | isEditMode) ? 'edycji' : 'dodaniu nowego' }}
      użytkownika w tym oknie zostanie wyświetlona wygenerowana zawartość przez
      serwer składająca się na imię, nazwisko oraz podstawowe informacje poczty.
      @if (currentMode | isCreationMode) { Kopia zostanie również wysłana na
      adres email. }
    </div>
    @if (currentMode | isCreationMode) {
    <div
      class="app-cms__description-block-container app-cms__description-block-container--warning-info">
      Część informacji (takich jak na przykład wygenerowane hasło dla
      użytkownika) zostanie wysłane w wiadomości email tylko i wyłącznie do
      stworzonego użytkownika (z uwagi na ochronę danych).
    </div>
    } } }
  </ng-container>
</app-add-edit-column-wrapper>
