<app-add-edit-section-header
  [header]="(currentMode | isCreationMode) ? 'Dodawanie nowej sali' : 'Edycja wybranej sali'"
  [currentMode]="currentMode"
  returnUrl="/secure/admin/study-rooms"
  returnText="Powrót do listy sal">
  <ng-container addDescription>
    W tej sekcji możesz dodać nową salę zajęciową. Każda sala jest przypisana do
    konkretnej katedry (a katedra do wydziału). Każda sala musi posiadać również
    jej typ przeznaczenia (wykładowa/laboratoryjna itp.). Jeśli sala nie posiada
    sprecyzowanego typu, należy wybrać opcję "inna". Należy również podać
    pojemność sali (jako wartość całkowita) indentyfikująca maksymalną ilość
    osób jaka może przebywać w sali w tym samym czasie. Można dodać którki opis
    sali, ale nie jest on wymagany (należy zostawić puste pole).
  </ng-container>
  <ng-container editDescription>
    W tej sekcji możesz edytować część informacji o wybranej sali zajęciowej.
  </ng-container>
  @if (currentMode | isEditMode) {
  <ng-template #warning>
    Część informacji nie podlega edycji. W przypadku chęci zmiany parametrów
    które nie podlegają edycji, należy usunąć salę zajęciową i stworzyć nową.
    Zalecamy korzystanie z tej funkcjonalności rozważnie, ponieważ może dojść do
    utraty głębiej położonych zasobów w systemie.
  </ng-template>
  }
</app-add-edit-section-header>
<app-add-edit-column-wrapper
  [formHeader]="(currentMode | isCreationMode) ? 'Dodaj salę' : 'Edytuj salę'"
  resultHeader="Informacje o sali">
  <ng-container form>
    <form
      [formGroup]="addEditStudyRoomForm"
      (ngSubmit)="handleSubmitAddEditStudyRoom()"
      class="app-cms__grid-form app-cms__add-new-content-form-container">
      <label for="add-study-room-form___name" class="app-cms__grid-label">
        Nazwa (alias) sali:
      </label>
      <div>
        <input
          type="text"
          id="add-study-room-form___name"
          formControlName="name"
          maxlength="50"
          placeholder="np. B102"
          class="app__input app__input--light app__input--exclude-margin" />
        @if (checkIsFieldHasErrors("name")) {
        <div
          class="app__input-error app__input-error--light app__input-error--margin-top">
          Proszę wpisać nazwę (alias) sali
        </div>
        }
      </div>
      <label
        for="add-study-room-form___description"
        class="app-cms__grid-label">
        Krótki opis (opcjonalny):
      </label>
      <textarea
        id="add-study-room-form___description"
        formControlName="description"
        placeholder="np. Laboratorium Programowania Komputerów"
        rows="4"
        maxlength="150"
        class="app__input app__input--light app__input--exclude-margin resize--only-vertical"></textarea>
      <app-dept-with-cath
        [currentMode]="currentMode"
        [formGroup]="addEditStudyRoomForm"
        class="app__show-only-content" />
      <label for="add-study-room-form___capacity" class="app-cms__grid-label">
        Pojemność sali:
      </label>
      <div>
        <input
          type="text"
          pattern="^(0|[1-9][0-9]*)$"
          min="0"
          id="add-study-room-form___capacity"
          formControlName="capacity"
          placeholder="np. 40"
          class="app__input app__input--light app__input--exclude-margin" />
        @if (checkIsFieldHasErrors("capacity")) {
        <div
          class="app__input-error app__input-error--light app__input-error--margin-top">
          Proszę wpisać poprawną pojemność sali
        </div>
        }
      </div>
      <label for="add-study-room-form___type" class="app-cms__grid-label">
        Typ sali zajęciowej:
      </label>
      <div>
        <app-select-list-template
          [formGroup]="addEditStudyRoomForm"
          [listElements]="roomTypes"
          formControlId="roomTypeName"
          inputId="add-study-room-form___type"
          placeholder="np. Wykładowa"
          errorField="prawidłowy typ sali zajęciowej" />
      </div>
      <div></div>
      <div class="app-cms__grid-submit-button">
        <button
          [disabled]="!addEditStudyRoomForm.valid || (isLoading$ | async)"
          type="submit"
          class="app__button app__button--full-width app__button--light">
          {{ (currentMode | isEditMode) ? 'Edytuj wybraną' : 'Dodaj nową' }}
          salę @if (isLoading$ | async) {
          <img
            src="assets/gif/suspense-loading-light.gif"
            alt=""
            class="app__button--loading-content-spinner" />
          } @else {
          <ng-icon name="matArrowRightAlt" class="app__button__arrow" />
          }
        </button>
      </div>
    </form>
  </ng-container>
  <ng-container result>
    @if (addEditStudyRoomRes) {
    <div
      class="app-cms__description-block-container app-cms__description-block-container--warning-info">
      Uwaga! Informacje po odświeżeniu strony, bądź przejścia pod inny adres
      zostaną usunięte z podglądu.
    </div>
    <div class="app-cms__grid-form app-cms__add-new-content-info-container">
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Nazwa (alias) sali:
      </div>
      <div class="app-cms__grid-text">{{ addEditStudyRoomRes.name }}</div>
      @if (addEditStudyRoomRes.description) {
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Dodatkowy opis sali:
      </div>
      <div class="app-cms__grid-text">
        {{ addEditStudyRoomRes.description }}
      </div>
      }
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Wydział:
      </div>
      <div class="app-cms__grid-text">
        {{ addEditStudyRoomRes.departmentFullName }}
      </div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Katedra:
      </div>
      <div class="app-cms__grid-text">
        {{ addEditStudyRoomRes.cathedralFullName }}
      </div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Pojemność sali:
      </div>
      <div class="app-cms__grid-text">{{ addEditStudyRoomRes.capacity }}</div>
      <div class="app-cms__grid-label app-cms__grid-label--single-line">
        Typ sali:
      </div>
      <div class="app-cms__grid-text">
        {{ addEditStudyRoomRes.roomTypeFullName }}
      </div>
    </div>
    } @else { @if (isLoading$ | async) {
    <div class="app-cms__add-new-content-suspense-loading-container">
      <img src="assets/gif/suspense-loading-dark.gif" alt="" />
    </div>
    } @else {
    <div class="app-cms__description-block-container">
      Po {{ (currentMode | isEditMode) ? 'edycji' : 'dodaniu nowej' }} sali
      zajęciowej w tym oknie zostaną wyświetlone informacje o {{ (currentMode |
      isEditMode) ? 'edytowanej' : 'dodanej' }} sali (nazwa oraz alias) oraz
      inne powiązanie z nią informacje (wydział, katedra itp.) Informacje te
      zostaną utracone po przeładowaniu strony.
    </div>
    } }
  </ng-container>
</app-add-edit-column-wrapper>
