<div class="snackbar__container">
  @for (snackbar of snackbars$ | async; track $index) {
  <div
    @snackbarFadeAndMove
    [class.snackbar__element--error]="snackbar.severity === 'error'"
    [class.snackbar__element--info]="snackbar.severity === 'info'"
    class="snackbar__element">
    <div class="snackbar__element-text">{{ snackbar.message }}</div>
    <div class="snackbar__element-info-icon">
      <img
        [src]="getIconUrl(snackbar.severity)"
        width="30px"
        height="30px"
        alt="" />
    </div>
  </div>
  }
</div>
