<app-delete-content-modal />
<app-table-data-header
  header="Lista użytkowników systemu"
  inputPlaceholder="Wyszukaj po nazwisku"
  addContentUrl="/secure/admin/users/add"
  addContentText="Dodaj użytkownika">
  W tej sekcji możesz przeglądać wszystkich aktywnych użytkowników systemu.
  Każdemu użytkownikowi przypisana jest rola. Dostępne role to: administrator,
  edytor, nauczyciel oraz student z odpowiednimi kolorami oznaczającymi rolę
  danego użytkownika. Kliknięcie w przycisk "usuń" spowoduje usunięcie
  użytkownika z systemu. Kliknięcie w strzałkę przy użytkowniku przeniesie do
  strony ze szczegółowymi danymi użytkownika.
</app-table-data-header>
<app-delete-pageable-elements>
  @if (users) {
  <table class="app-cms__table-container">
    @if (users.length > 0) {
    <tr class="app-cms__table-tr">
      <th
        class="app-cms__table-th app-cms__table-th-id app-cms-table--hide-column__small">
        <app-sorting-button sortPlaceholder="Id" sortBy="Id" />
      </th>
      <th class="app-cms__table-th">
        <app-sorting-button
          sortPlaceholder="Nazwisko i imię"
          sortBy="Surname" />
      </th>
      <th class="app-cms__table-th app-cms__table--hide-large">
        <app-sorting-button sortPlaceholder="Login" sortBy="Login" />
      </th>
      <th class="app-cms__table-th app-cms__table--hide-medium">
        <app-sorting-button sortPlaceholder="Rola w systemie" sortBy="Role" />
      </th>
      <th class="app-cms__table-th app-cms__table-th-details"></th>
      <th class="app-cms__table-th app-cms__table-th-remove"></th>
      <th
        class="app-cms__table-th app-cms__table-th-select app-cms__table--hide-smal"></th>
    </tr>
    } @for (user of users; track user.id) {
    <tr
      app-delete-element
      [deleteContentId]="user.id"
      [isRemovable]="(loggedUserLogin$ | async) !== user.login || user.isRemovable"
      [editRoutePath]='"/admin/users/edit/" + user.id'>
      <td class="app-cms__table-td app-cms__table--hide-small">
        {{ user.id }}
      </td>
      <td>{{ user.nameWithSurname }}</td>
      <td class="app-cms__table-td app-cms__table--hide-large">
        {{ user.login }}
      </td>
      <td class="app-cms__table-td app-cms__table--hide-medium">
        <span
          class="cms-table__user-role"
          [ngClass]="(user.role | roleToView).class">
          {{ (user.role | roleToView).label }}
        </span>
      </td>
    </tr>
    }
  </table>
  }
</app-delete-pageable-elements>
